[submodule "sw_o_android.genieandroid"]
	path = sw_o_android.genieandroid
    url=https://github.com/GADORZA06/AndroidGenieTools.git
[submodule "android-card-form"]
	path = android-card-form
	url = https://github.com/GADORZA06/android-card-form.git
[submodule "card.io-Android-source"]
	path = card.io-Android-source
	url = https://github.com/GADORZA06/card.io-Android-source.git
[submodule "RecyclerViewPager"]
	path = RecyclerViewPager
	url = https://github.com/swph-mobile/RecyclerViewPager
