<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="au.com.dealsdirect"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!--  Android Fingerprint -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT"/>

    <!-- [START gcm_permissions] -->
    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE" />

    <!-- [END gcm_permissions] -->

    <application
        android:name=".DDApplication"
        tools:replace="android:allowBackup"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.main.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:configChanges="orientation|keyboard|screenSize"
            android:resizeableActivity="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Accepts URIs that begin with "http://www.dealsdirect.com.au/shop” -->
                <!-- <data android:host="www.dealsdirect.com.au" -->
                <!-- android:pathPrefix="/shop" -->
                <!-- android:scheme="http"/> -->


                <!-- note that the leading "/" is required for pathPrefix -->
                <!-- Accepts URIs that begin with "dealsdirect://ta” -->

                <!-- Ozsale -->
                <!-- Accepts URIs that begin with "https://www.ozsale.com.au” -->
                <data
                    android:host="www.ozsale.com.au"
                    android:pathPrefix=""
                    android:scheme="https"
                    tools:ignore="AppLinkUrlError"/>

                <!-- IOS deep linking compliance -->
                <!-- Sample:  au.com.dealsdirect.redirection://ta/action/7RyOu0kKFUuYPo38kWGTiw -->
                <data
                    android:host="*"
                    android:pathPrefix="/"
                    android:scheme="au.com.dealsdirect.redirection" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.braintreepayments.api.BraintreeBrowserSwitchActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <data android:scheme="${applicationId}.braintree" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>


        <!-- [START gcm_service] -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name=".service.fcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <service android:name=".service.fcm.GcmIntentService" />
        <!-- [END gcm_service] -->

        <!-- [START facebook] -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <!-- [END facebook] -->

        <!-- [START CLS] -->
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="156e897ec909d04276fe681aef03572370ac089e" />
        <!-- [END CLS] -->
    </application>

</manifest>